name: Build
on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Java 11
        uses: actions/setup-java@v5
        with:
          distribution: adopt
          java-version: 11

      - name: Gradle Build
        uses: gradle/gradle-build-action@v3
        with:
          gradle-version: 4.10.3
          arguments: clean build 
