name: Publish to Reposilite

on:
  release:
    types: [ published ]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set version
        run: |
          echo "RELEASE_VERSION=${TAG_NAME:1}" >> $GITHUB_ENV
        env: 
          TAG_NAME: ${{github.event.release.tag_name}}
          
      - name: Setup Java 21
        uses: actions/setup-java@v5
        with:
          distribution: adopt
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Publish Build
        run: ./gradlew clean build publish -Pversion=${{ env.RELEASE_VERSION }}
        env:
          REPOSILITE_USERNAME: ${{ secrets.REPOSILITE_USERNAME }}
          REPOSILITE_PASSWORD: ${{ secrets.REPOSILITE_PASSWORD }}
